<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>HeartBeat Monitor on {{ serverInfo }}</title>
	<link rel="icon" type="image/x-icon" href="/templates/favicon.ico">
	<link rel="stylesheet" href="styles.css">
	<script type="module" src="/templates/jquery.js"></script>
	<script type="module" src="/templates/bundle.js"></script>
</head>

<body>
	<h1>{{ serverInfo }}</h1>
	<div class="switch-container">
		<div class="switch-container-items">
			<div class="switch-container-label">Отображать только предупреждения</div>
			<label class="switch">
				<input type="checkbox" id="show_only_warnings_checkbox">
				<span class="slider"></span>
			</label>
		</div>
	</div>
	<div id="data-container">
		<div class="grid-stack"></div>
	</div>
</body>

</html>
