:root {
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;

    --first-level-background-color: var(--nord3);
    --second-level-background-color: var(--nord2);
    --third-level-background-color: var(--nord1);
    --default-font-color: var(--nord4);
    --title-color: var(--nord8);
    --positive-accent-color: var(--nord14);
    --nefgative-accent-color: var(--nord11);
}

body {
    font-family: Arial, sans-serif;
    color: var(--default-font-color);
    background-color: var( --first-level-background-color);
    line-height: 1.6;
    padding: 10px;
}

.agent-name {
    font-size: x-large;
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
}

.agent-name ~ .widget > .widget-title {
    font-size: large;
    margin-top: 10px;
}

.plugin-name {
    font-size: large;
    margin-top: 10px;
}

.widget {
    background-color: var(--first-level-background-color);
    padding: 1em;
    align-items: baseline;
    border-radius: 1em;
    border: solid 1px transparent;
}

.agent-data {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    align-items: baseline;
    border-radius: 1em;
    border: solid 1px var(--positive-accent-color);
}

.agent-data > .widget {
    width: 30%;
    margin: 1em;
}

body > .widget {
    padding-top: 2em;
}

body > .widget > .widget-title{
    color: var(--nord14);
    min-width: 100%;
    font-size: 3em;
}

.widget>.widget {
    background-color: var(--second-level-background-color);
    padding-top: 1em;
    margin: 0.5em;
}

.widget > .widget > .widget {
    background-color: var(--third-level-background-color);
    flex-direction: row;
    padding: 0em 1em;
}

.widget > .widget :hover {
    border: none;
} 

.widget-title  {
    font-size: 1em;
    color: var(--title-color)
}

.widget-data {
    padding-left: 0.5em;
}

.parent-warning {
    border: solid 5px var(--negative-accent-color);
}

.parent-warning > .parent-warning {
    border: none;
}

.timer {
    background-image: url(images/timer.svg);
    background-repeat: no-repeat;
    height: 1.3em;
    margin-left: 1em;
    padding-left: 1.6em;
    font-size: medium;
}